@import (reference) "../main.less";

.divMenu {
    margin-bottom: 0px;
    font-weight: bold;
    list-style-type: none;
}

.divMenu a {
    float: left;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align:center;
    display:block;
    text-align:center;
    margin: 2px;
    padding: 10px;
    //padding-top:20px;
    width: 164px;
    height: 164px;

    font-size: 16px;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 90px;


}

.divMenu a.verde_oliva {
    background-color: #A6C91C;
}

.divMenu a.laranja {
    background-color: #D87426;
}

.divMenu a.verde_agua {
    background-color: #086A77;
}

.divMenu a.azul {
    background-color: #5375CA;
}

.divMenu a.magenta {
    background-color: #DA3DF8;
}

.divMenu .marrom {
    background-color: #9C3939;
}

.divMenu .lilas {
    background-color: #363996;
}

.divMenu .rosa {
    background-color: #EC2141;
}

.divMenu .beje {
    background-color: #F4B32A;
}



/* CSS3 Effects */
.divMenu  a {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.divMenu  a:hover {
    -webkit-transform: scale(0.85,0.85);
    -moz-transform: scale(0.85,0.85);
    -o-transform: scale(0.85,0.85);
    -ms-transform: scale(0.85,0.85);
    transform: scale(0.85,0.85);
}
.divMenu  a {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
@media (max-width:768px){
    .divMenu a.verde_oliva,
    .divMenu a.laranja,
    .divMenu a.verde_agua,
    .divMenu a.azul,
    .divMenu a.magenta,
    .divMenu a.lilas,
    .divMenu a.rosa,
    .divMenu a.beje,
    .divMenu a.marrom
    {
        font-size: 11px;
        background-position: 50% 90%;
        background-repeat: no-repeat;
        background-size: 50px;
        padding: 5px;
        //height: 103px;
        //width: 103px;
        height: 90px;
        width: 90px;
    }
}

/*
.anuncio-rede-socio-assistencial {
    background: lighten(@cor-base-mensagem-info, @lighten-fundo) url('../../images/usecases/rede-socio-assistencial.png') 0.5em 50% no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    padding: 7px;
    padding-left: 55px;
    border: 3px solid lighten(@cor-base-mensagem-info,@lighten-borda);
    color: @cor-base-mensagem-info;
    box-shadow: 0 0 1em lighten(@cor-base-mensagem-info,@lighten-sombra);
    font-size: 0.75em;
    line-height: 1.5;
    margin: 0.7em 0;
    height: 5.3em; /!*fixa o tambanho do anuncio*!/
    overflow:hidden /!*Corta o conte�do que n�o couber no anuncio*!/
}

.anuncio-rede-socio-assistencial a:link, .anuncio-rede-socio-assistencial a:visited, .anuncio-rede-socio-assistencial a:hover {
    color: @cor-base-mensagem-info;
    text-decoration: none;
}
*/

.label-menu-procurar {
    float: left;
    width: 250px;
    /*margin-left: 20px;*/
    text-align: left;
}

.input-menu-procurar {
    float: left;
}

.novo-recurso-menu {
    position: relative;
    img { //obs: o elemento imagem é iserido pela rotina jQuery em menu.gsp
	    @media screen and (max-width: 700px) {
            width:40px;
            height:40px;
	    }
        width:50px;
        height:50px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        .animacao-novo-recurso();
    }
}
