/* Cores */
@cor-principal:					#abbf78;
@cor-fonte-links-e-titulos:		#48802c; //tambem é a cor dos icones de butoes
@cor-caption-jquery-ui: 		#E1F2B6;
@cor-fundo-paineis-e-botoes:	#efefef;
@cor-fundo-principal:	        #dddddd;
@cor-sombra-principal:	        #aaaaaa;

@cor-fundo-corpo:	        white;
@cor-texto-corpo:	        #333333;
@cor-sombra-corpo:	        #255b17;
@cor-bordas:	            #CCCCCC;

@lighten-fundo:			58%;
@lighten-borda:			40%;
@lighten-sombra:			50%;
@cor-base-mensagem-info:	#006dba;
@cor-base-mensagem-erro:	#cc0000;

@cor-marcadores-programa:       	#E1F2B6;
@cor-marcadores-acao:		    	#BBF2B6;
@cor-marcadores-vulnerabilidade:	#7BF2B6;
@cor-marcadores-outros-marcadores:	#7BFB90;

/* Espaçamentos */
@espacamento-linhas-formulario: 	0.7em;

/* Tamanhos */
.tamanho-icones() {
  background-size: 16px 16px;
}

.fontes() {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* FONT STACK */
body,
input, select, textarea {
  .fontes;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	background-color: @cor-fundo-principal;
	background-image: -moz-linear-gradient(center top, @cor-sombra-principal, @cor-fundo-principal);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @cor-sombra-principal), color-stop(1, @cor-fundo-principal));
	background-image: linear-gradient(top, @cor-sombra-principal, @cor-fundo-principal);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: @cor-sombra-principal;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: @cor-fundo-corpo;
	color: @cor-texto-corpo;
	margin: 0 auto;
	max-width: 960px;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em @cor-sombra-corpo;
	-webkit-box-shadow: 0 0 0.3em @cor-sombra-corpo;
	        box-shadow: 0 0 0.3em @cor-sombra-corpo;
}

#grailsLogoProd {
	background-color: @cor-principal;
}

#grailsLogoValid {
    background-color: #bf5858;
}

#grailsLogoLocal {
    background-color: #7e80bf;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: @cor-sombra-corpo;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: @cor-fonte-links-e-titulos;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: @cor-fonte-links-e-titulos;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 1em;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
}

.content h1 {
	border-bottom: 1px solid @cor-bordas;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footerProd {
    background: @cor-principal;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
}

.footerValid {
    background: #bf5858;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
}

.footerLocal {
    background: #7e80bf;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
  .painelNavegacaoOuBotoes();
  padding: 0.5em 0.75em;
  zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.linkNavegacao() {
//.nav a.search, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
    .tamanho-icones();
}

//.nav a.slidedown {
//  .linkNavegacao();
//  background-image: url(../../images/slidedown.png);
//}

.nav a.edit {
  .linkNavegacao();
  background-image: url(../../images/database_edit.png);
}

.nav a.search {
  .linkNavegacao();
  background-image: url(../../images/search.png);
}

.nav a.list {
  .linkNavegacao();
  background-image: url(../../images/database_table.png);
}

.nav a.create {
  .linkNavegacao();
  background-image: url(../../images/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset.form,
.property-list {
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.5em 0.5em 0.5em;
	position: relative;
	zoom: 1;
	border: none;
}

//evita margens extras em formulários contidos em janelas modais do jqueryUI (classe .ui-dialog-content)
.ui-dialog-content fieldset.form {
	margin: 0;
  	padding: 0;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: visible;
	zoom: 1;
}

//adiciona espacamento apenas aa partir do segundo elemento das classes utilizadas nos componentes de
//formulario: .fieldcontain .property-list e .embedded
.fieldcontain ~ .fieldcontain,
.property-list ~ .property-list,
.embedded ~ .embedded,
.embedded ~ .property-list,
.property-list ~ .embedded,
.embedded ~ .fieldcontain,
.fieldcontain ~ .embedded
{
  margin-top: @espacamento-linhas-formulario;
}

//adiciona espacamento apenas aa partir do segundo elemento da classe .property-list
.property-list ~ .property-list {
  margin-top: @espacamento-linhas-formulario;
}

//Como a classe fieldcontain só preve margens no topo, o ultimo elemento selecionado deve ter tambem uma margem inferior
//.property-list li:last-of-type {
//	margin-bottom: @espacamento-linhas-formularios;
//}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid @cor-bordas;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	/*width: 250px;*/
	/*height: 150px;*/
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input[type='text']:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

.embedded {
	background-color: transparent;
	border: 1px solid @cor-bordas;
	margin-left: 0;
	margin-right: 4px;
	padding-left: 4px;
	padding-right: 4px;
    padding-bottom: 4px;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */
.caixaTexto(@cor, @imagem) {
  font-size: 0.8em;
  line-height: 2;
  margin: 1em 2em;
  padding: 0;
  //  padding: 0.25em;
  text-indent: 2.2em;
  background: lighten(@cor, @lighten-fundo) @imagem 0.5em 50% no-repeat;
  border: 1px solid lighten(@cor,@lighten-borda);
  color: @cor;
  -moz-box-shadow: 0 0 0.25em lighten(@cor,@lighten-sombra);
  -webkit-box-shadow: 0 0 0.25em lighten(@cor,@lighten-sombra);
  box-shadow: 0 0 0.25em lighten(@cor,@lighten-sombra);
}

.message {
  .caixaTexto(@cor-base-mensagem-info, url(../../images/information.png));
}

.errors {
  list-style: none;
  .caixaTexto(@cor-base-mensagem-erro, url(../../images/exclamation.png));
}

/* form fields with errors */

.error input, .error select, .error textarea, .error input[type=checkbox] + *, .error .field-button {
  //background: lighten(@cor-base-mensagem-erro, @lighten-fundo);
  background-color: lighten(@cor-base-mensagem-erro, @lighten-fundo);
  border-color: lighten(@cor-base-mensagem-erro, @lighten-borda);
  color: @cor-base-mensagem-erro;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em lighten(@cor-base-mensagem-erro, @lighten-sombra);
	-webkit-box-shadow: 0 0 0.5em lighten(@cor-base-mensagem-erro, @lighten-sombra);
	        box-shadow: 0 0 0.5em lighten(@cor-base-mensagem-erro, @lighten-sombra);
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
  background: lighten(@cor-base-mensagem-erro, @lighten-fundo);
  border-color: lighten(@cor-base-mensagem-erro, @lighten-borda);
  color: @cor-base-mensagem-erro;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
  -moz-box-shadow: 0 0 0.5em lighten(@cor-base-mensagem-erro, @lighten-sombra);
  -webkit-box-shadow: 0 0 0.5em lighten(@cor-base-mensagem-erro, @lighten-sombra);
  box-shadow: 0 0 0.5em lighten(@cor-base-mensagem-erro, @lighten-sombra);
}

/* TABLES */

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: @cor-fundo-paineis-e-botoes;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../../images/sorted_asc.gif);
}

th.desc a {
	background-image: url(../../images/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
    background: #ffffff;
}

.tecnicoReferencia {
    background: #ffe6e5;
}

/*
table.tabelaListagem {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

table.tabelaListagem tr {
	border: 0;
}

table.tabelaListagem tr>td:first-child, table.tabelaListagem tr>th:first-child {
	padding-left: 1.25em;
}

table.tabelaListagem tr>td:last-child, table.tabelaListagem tr>th:last-child {
	padding-right: 1.25em;
}

table.tabelaListagem td, table.tabelaListagem th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

table.tabelaListagem th {
	background-color: @cor-fundo-paineis-e-botoes;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

table.tabelaListagem thead th {
	white-space: nowrap;
}

table.tabelaListagem th a {
	display: block;
	text-decoration: none;
}

table.tabelaListagem th a:link, table.tabelaListagem th a:visited {
	color: #666666;
}

table.tabelaListagem th a:hover, table.tabelaListagem th a:focus {
	color: #333333;
}

table.tabelaListagem th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

table.tabelaListagem th.asc a {
	background-image: url(../../images/sorted_asc.gif);
}

table.tabelaListagem th.desc a {
	background-image: url(../../images/sorted_desc.gif);
}

table.tabelaListagem .odd {
	background: #f7f7f7;
}

table.tabelaListagem .even {
    background: #ffffff;
}

.tecnicoReferencia {
    background: #ffe6e5;
}
*/

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px @cor-sombra-principal;
	-webkit-box-shadow: 0 0 3px 1px @cor-sombra-principal;
	        box-shadow: 0 0 3px 1px @cor-sombra-principal;
	background-color: @cor-fundo-paineis-e-botoes;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.painelNavegacaoOuBotoes() {
  background-color: @cor-fundo-paineis-e-botoes;
  -moz-box-shadow: 0 0 3px 1px @cor-sombra-principal;
  -webkit-box-shadow: 0 0 3px 1px @cor-sombra-principal;
  box-shadow: 0 0 3px 1px @cor-sombra-principal;
}

.buttons {
  .painelNavegacaoOuBotoes();
  overflow: hidden;
  padding: 0.3em;
  margin: @espacamento-linhas-formulario 0 0 0;
  border: none;
}

.buttons span {
	display:inline-block;
}

.buttons input {
	margin: 3px; //efeito de espaçamento entre linhas
	border: 1px solid @cor-bordas;
	font-size: 1em;
	padding: 0.2em 0.4em;
	border-radius: 0;
	cursor: auto;
}

.buttons input[type=button], .buttons input[type=submit], .buttons a, .botaoIndependente {
	border: 0;
  	background-color: transparent;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	//margin: 0 0.25em 0;
  	padding: 0.3em 0.7em;
    margin: 0.25em;
    //padding: 0.25em;
	overflow: visible;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.hoverBotoes() {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.buttons input[type=button]:hover, .buttons input[type=button]:focus, .buttons input[type=submit]:hover, .buttons input[type=submit]:focus,
.buttons a:hover, .buttons a:focus {
  .hoverBotoes();
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttonsFooter() {
//.buttons .search, .buttons .delete, .buttons .edit, .buttons .save, .buttons .add, .buttons .list {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
    .tamanho-icones();
}

.ie6 .buttons input.search, .ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save, .ie6 .buttons input.add, .ie6 .buttons input.list,
.ie7 .buttons input.search, .ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save, .ie7 .buttons input.add, .ie7 .buttons input.list
{
	padding-left: 36px;
}

.buttons .search {
  .buttonsFooter();
  background-image: url(../../images/search.png);
}

.buttons .delete {
    .buttonsFooter();
	background-image: url(../../images/database_delete.png);
}

.buttons .import {
  .buttonsFooter();
  background-image: url(../../images/import.png);
}

.buttons .export {
  .buttonsFooter();
  background-image: url(../../images/export.png);
}

.buttons .edit {
  .buttonsFooter();
  background-image: url(../../images/database_edit.png);
}

.buttons .atendimento {
  .buttonsFooter();
  background-image: url(../../images/atendimento.png);
}

.buttons .check {
  .buttonsFooter();
  background-image: url(../../images/checked.png);
}

.buttons .save {
  .buttonsFooter();
  background-image: url(../../images/database_save.png);
}

.buttons .cancel {
  .buttonsFooter();
  background-image: url(../../images/cancel.png);
}

.buttons .add {
  .buttonsFooter();
  background-image: url(../../images/database_add.png);
}

.buttons .acompanhamento {
  .buttonsFooter();
  background-image: url(../../images/acompanhamento.png);
}

.buttons .list {
  .buttonsFooter();
  background-image: url(../../images/database_table.png);
}

.buttons .close {
  .buttonsFooter();
  background-image: url(../../images/close.png);
}

.imageButton() {
  .painelNavegacaoOuBotoes();
  .botaoIndependente();
  .tamanho-icones();
  &:hover {
	.hoverBotoes();
  }
  margin: 0;
}

.speedButton(@imagem) {
  background: @imagem no-repeat center;
  .imageButton();
  background-color: @cor-fundo-paineis-e-botoes;
  width: 25px;
  height: 25px;
}

.imageTextButton(@imagem) {
  .imageButton();
  background-color: @cor-fundo-paineis-e-botoes;
  background-image: @imagem;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 30px;
}

a.skip {
	position: absolute;
	left: -9999px;
}

.hidden {
	display: none;
}

input.search {
  .imageTextButton(url(../../images/search.png));
}

input.atendimento {
  .imageTextButton(url(../../images/atendimento.png));
}

input.close {
  .imageTextButton(url(../../images/close.png));
}

input.create {
  .imageTextButton(url(../../images/database_add.png));
}

input.save {
  .imageTextButton(url(../../images/database_save.png));
}

input.delete {
  .imageTextButton(url(../../images/database_delete.png));
}

input.edit {
  .imageTextButton(url(../../images/database_edit.png));
}

input.cancel {
  .imageTextButton(url(../../images/cancel.png));
}

input.check {
  .imageTextButton(url(../../images/checked.png));
}

input.ok {
  .imageTextButton(url(../../images/database_add.png));
}

.speed-button-exportar {
  .speedButton(url(../../images/export.png));
}

.speed-button-procurar {
  .speedButton(url(../../images/search.png));
}

/*
input#adicionar {
  .speedButton(url(../../images/database_add.png));
}
*/

.btn-adicionar-marcador {
  .speedButton(url(../../images/database_add.png));
}

.speed-button-editar {
  .speedButton(url(../../images/database_edit.png));
}

.speed-button-expandir {
  .speedButton(url(../../images/slidedown.png));
}

/*
input#slideDown {
  .speedButton(url(../../images/slidedown.png));
}
*/

.speed-button-remover {
  .speedButton(url(../../images/database_delete.png));
}

/* pesquisas */

table.parametrosPesquisa {
  .painelNavegacaoOuBotoes();
  border-collapse: initial;
  padding: 0.5em 0.75em;
  zoom: 1;
  tr:hover { background: none; }
  td { padding: 0; }
  div {	text-indent: 0;  }
  input { margin: 3px; } //efeito de espaçamento entre linhas
}

table.tabelaListagem th:hover, .tabelaListagem tr:hover {
  background: @cor-caption-jquery-ui;
}

.marcadores {
  border-radius: 3px;
  display: inline-table;
  font-size: 0.9em;
  margin: 2px;
  padding: 3px;
  color: @cor-texto-corpo;
  float: left; //remove os espacos gerados automaticamente a cada novo marcador
}

.ui-widget {
  .fontes();
  font-size: 1em;
}

.marcadores-similares {
  .marcadores();
  background-color: @cor-fundo-principal;
}

.marcadores-acao {
  .marcadores();
  background-color: @cor-marcadores-acao;
}

.marcadores-outro-marcador {
  .marcadores();
  background-color: @cor-marcadores-outros-marcadores;
}

.marcadores-vulnerabilidade {
  .marcadores();
  background-color: @cor-marcadores-vulnerabilidade;
}

.marcadores-programa {
  .marcadores();
  background-color: @cor-marcadores-programa;
}

.input-search {
  background-image: url(../../images/search-cinza.png);
  background-position: 2px center;
  //margin: auto auto;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 0 0 0 25px;
  //height:18px;
}​

.check-marcadores {
  transform: scale(0.9);
  vertical-align: top;
  margin-top: 2px; /* change to center it */
}

.fieldsetMarcadores {
  .embedded();
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em 0.5em 0.5em;
  //redimenciona de acordo com o conteudo
  height: 100%;
  .rolagem {
    max-height: 5.5em;
    overflow: auto;
  }
}


/**
 * CSS para tooltips ou popups. Uso:

<div class="help-tooltip">Hover over me
  <span class="help-tooltip-text">Tooltip text</span>
</div>

 */

.help-tooltip {
  position: relative;
  display: inline-block;
}

.help-tooltip img {
  width: 13px;
  height: 13px;
  vertical-align: top;
}

.help-tooltip .help-tooltip-text {
  display: inline-block;
  visibility: hidden;
  width: 350px;
  background-color: @cor-principal;
  color: white;
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px 3px @cor-sombra-principal;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  white-space: normal; //permite quebra de linhas no meio do texto

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.help-tooltip:hover .help-tooltip-text {
  visibility: visible;
  opacity: 1;
  font-size: medium;
  font-weight: normal;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

nobr {
  display: inline-block;
}

//Situações de monitoramento
.situacao-monitoramento(@imagem) {
  cursor: pointer;
  background: @imagem no-repeat center;
  border: hidden;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}
.monitoramento-efetivado { .situacao-monitoramento(url(../../images/done.png)); }
.monitoramento-suspenso { .situacao-monitoramento(url(../../images/suspended.png)); }
.monitoramento-pendente { .situacao-monitoramento(url(../../images/pending.png)); }
.monitoramento-prioritario { .situacao-monitoramento(url(../../images/important.png)); }
